In [18]:
#Warning: API calls

import json
from binance.client import Client

client = Client("", "")

symbol = "ETHUSDT"
start = "1 Jan, 2018"
end = "1 Jan, 2019"
interval = Client.KLINE_INTERVAL_1DAY

klines = client.get_historical_klines(symbol, interval, start, end)

In [19]:
#filename_json = "Binance_{}_{}_{}-{}.json".format(symbol, interval, start, end)
filename_json = "ETHUSDT_2018_1DAY_Binance.json"

with open(filename_json,'w') as f:
    f.write(json.dumps(klines))

In [ ]:
# 0)  Open time
# 1)  Open
# 2)  High
# 3)  Low
# 4)  Close
# 5)  Volume
# 6)  Close time
# 7)  Quote asset volume
# 8)  Number of trades
# 9)  Taker buy base asset volume
# 10) Taker buy quote asset volume
# 11) Ignore

In [20]:
import pandas as pd

df = pd.read_json(filename_json)
df.drop([6, 7, 9, 10, 11], inplace=True, axis=1) #drop inconsiderable data
df.columns = ["open time", "open", "high", "low", "close", "volume", "number of trades"]

df["volume"] = df["volume"].apply(lambda x : round(x, 1))
#converting milliseconds to datetime
df["open time"] = df["open time"].apply(lambda x: pd.to_datetime(x, unit='ms').to_pydatetime())

df.head()

   open time    open     high     low   close    volume  number of trades
0 2018-01-01  733.01   763.55  716.80  754.99   53909.3             75314
1 2018-01-02  754.99   899.50  749.06  855.28  113257.8            142511
2 2018-01-03  855.13   950.01  810.00  934.03   89041.5            118866
3 2018-01-04  934.03  1009.72  890.01  940.00  102894.5            132633
4 2018-01-05  940.00  1045.00  930.00  959.30   97374.0            124438

In [21]:
# .csv if needed

filename_csv = filename_json[:-4] + "csv"
df.to_csv(filename_csv, sep='\t', encoding='utf-8', index=False)

data = pd.read_csv(filename_csv, sep='\t')
#print((df.shape, (31+28)*24))
data.head()

    open time    open     high     low   close    volume  number of trades
0  2018-01-01  733.01   763.55  716.80  754.99   53909.3             75314
1  2018-01-02  754.99   899.50  749.06  855.28  113257.8            142511
2  2018-01-03  855.13   950.01  810.00  934.03   89041.5            118866
3  2018-01-04  934.03  1009.72  890.01  940.00  102894.5            132633
4  2018-01-05  940.00  1045.00  930.00  959.30   97374.0            124438